<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style_a_m.css' %}">
    </head>
    <body>
        <header>
            <div id="header"> 
                <img class="header_element" id="logo" src="{% static 'images/logo_dulce_refugio.png' %}" alt="logo de la funcacion">
            </div>
        </header>
        <div class="donate">
            <img src="{% static 'images/photo_donate1.jpg' %}" alt="donate1">
            <h2>Asistencia medica.</h2>
            <p>Si decides donar en el area de asistencia medica estarias apoyando a la actividades que se realizan para visitar hospitales y personas enfermas. en donde los integrantes de la fundacion le entregamos medicamentos a hipertensos, diabeticos, personas con Cancer entre otros.</p>
        </div>
        <div class="donate2">

        </div>
    </body>
</html>