<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style_a_m.css' %}">
    </head>
    <body>
        <header>
            <div id="header"> 
                <img class="header_element" id="logo" src="{% static 'images/logo_dulce_refugio.png' %}" alt="logo de la funcacion">
            </div>
        </header>

        <div class="donate2">

            <div class="parrafo">
                
            <img src="{% static 'images/photo_donate2.jpg' %}" alt="donate1">
            <h2>Asistencia medica.</h2>
            <p>Si decides donar en el area de asistencia medica estarias apoyando a la actividades que se realizan para visitar hospitales y personas enfermas. en donde los integrantes de la fundacion le entregamos medicamentos a hipertensos, diabeticos, personas con Cancer entre otros.</p>
             
                <h2>Metodo de donacion: Pago movil </h2>

                <ul>
                    <li>Banco plaza-0138</li>
                    <li>C.I:8.286.263</li>
                    <li>0412-0888793</li>
                </ul>
            </div>
            <form class="donations" action="{% url 'entrega_alimentos' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Donar">
            </form>
        </div>

        <div class="donations_container parrafo">
            <h2>Donaciones Recientes</h2>
            <ul class="donations_list">
                {% for donation in donations %}
                    <li class="donation_item"> 
                        <h3 class="donor_name">{{donation.donor}}</h3>
                        <p class="amount">{{donation.amount}} {{donation.currency}}</p>
                        <p class="date">{{donation.date_time}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>