<!DOCTYPE html>
<html lang="es">
    <head>
        <title></title>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/style_campana.css' %}">
    </head>
    <body>
        <header>
            <div id="header"> 
                <img class="header_element" id="logo" src="{% static 'images/logo_dulce_refugio.png' %}" alt="logo de la funcacion">
            </div>
        </header>
        <div class="all_campaign">

            <div class="campaing">
                <a class="campaing_text" href="{% url 'entrega_alimentos' %}"><h2>Entrega de Alimentos</h2></a>
                <img class="campaing_photo" src="../../../static/images/photo_food.jpeg" alt="food">

            </div>

            <div class="campaing">
                <a class="campaing_text" href="{% url 'asistencia_medica' %}"><h2>Asistencia Medica</h2></a>
                <img class="campaing_photo" src="../../../static/images/photo_medical _assistance.jpeg" alt="medical assistance">
            </div>

            <div class="campaing">
                <a class="campaing_text" href="{% url 'educacion' %}"><h2> Educación</h2></a>
                <img class="campaing_photo" src="../../../static/images/photo_education.jpeg" alt="educacion">
            </div>

        </div>
        {% comment %} <div class="supporters_container parrafo">
            <h2> Personas que han dado su apoyo: </h2>
            <ul class="supporters_list">
                {% for supporter in supporters %}
                    <li class="supporter_item"> 
                        <h3 class="donor_name">{{donation.donor}}</h3>
                        <p class="amount">{{donation.amount}} {{donation.currency}}</p>
                        <p class="date">{{donation.date_time}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div> {% endcomment %}

        <div class="inf">
            <h2>Solicitud de apoyo para las actividades</h2>
            <p>Si usted desea apoyar a la fundacion asistiendo a las actividades debe llenar este formulario y enviar su respuesta que se evaluara en 24horas. Recibira un correo con las especificaciones y el dia que debe asistir a la actividad que eliga.</p>
        </div>

        <div class="form_container">
            <form action="{% url 'agregar_soporte' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Apoyar">
                    <p class="total">{{ supporters_total }} personas apoyándonos.</p>
            </form>
        </div>
    </body>
</html>