<!DOCTYPE html>
<html lang="es">
    <head>
        <title></title>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/style_contacto.css' %}">       
    </head>
    <body>
        <header>
            <div id="header"> 
                <img class="header_element" id="logo" src="{% static 'images/logo_dulce_refugio.png' %}" alt="logo de la funcacion">
            </div>
        </header>

        <div class="contacto">
            <p>para mas informcion de nuestras actividades o si quiere apoyar a la fundación comuniquese con nosotros atraves de nuestras redes sociales:</p>
            <ul>
                <li>correo electronico de la fundación:</li>
                <li>correo electronico de la presidenta:</li>
                <li>instagram:</li>
                
            </ul>
        </div>

    </body>
</html>