<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style_educacion.css' %}">
    </head>
    <body>
        <header>
            <div id="header"> 
                <img class="header_element" id="logo" src="{% static 'images/logo_dulce_refugio.png' %}" alt="logo de la funcacion">
            </div>
            <div class="donate3">
                <img src="{% static 'images/photo_donate3.jpg' %}" alt="donate3">
                <h2>Educación</h2>
                <p>Si decides donar en el area de educacion estaras apoyando las actividades para las intituciones educativas de la parroquia el Carmen y el municipio Simon Bolivar. En las actidades se realizan charlas, educacion sexual, no a las drogas, bulling entre otros. A los estudiantes que no cuentan con utiles escolares se les ayuda donandoles cuadernos, lapices, borras entre otros. </p>
            </div> 
        </header>
    </body>
</html>