<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style_e_a.css' %}">
    </head>
    <body>
        <header>
            <div id="header"> 
                <img class="header_element" id="logo" src="{% static 'images/logo_dulce_refugio.png' %}" alt="logo de la funcacion">
            </div>
        </header>
        <div class="donate1">

            <div class="parrafo">
                <img src="{% static 'images/photo_donate1.jpg' %}" alt="photo_donate2">
                <h2>Entrega de alimentos.</h2>
                <p>Si decide donar en el área de entrega de alimentos estaría apoyando las actividades que realizamos para ayudar a las personas en situación de pobreza  en la parroquia El Carmen y el minicipio Simón Bolívar. En estas actividades se preparan en ocasiones cereales, sopas o entregamos alimentos de la cesta básica para a las personas de extrema necesidad, dándoles un mensajes de amor y esperanza. Tomando en consideración la instrucción de Dios de ayudar al prójimo.</p>

                <form class="donations" action="{% url 'entrega_alimentos' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Donar">
                </form>
                <h2>Método de donacion: Pago móvil </h2>

                <ul>
                    <li>Banco Plaza - 0138</li>
                    <li>C.I:8.286.263</li>
                    <li>0412-0888793</li>
                </ul>
                
                
            </div>
        </div>

        <div class="donations_container parrafo">
            <h2>Donaciones Recientes</h2>
            <ul class="donations_list">
                {% for donation in donations %}
                    <li class="donation_item"> 
                        <h3 class="donor_name">{{donation.donor}}</h3>
                        <p class="amount">{{donation.amount}} {{donation.currency}}</p>
                        <p class="date">{{donation.date_time}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
       
    </body>
</html>