body {
    margin: 0;
    background-color: rgb(182, 224, 250);

}

div#header {
    background-color: rgb(229, 240, 240);
    height: 130px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

img#logo { 
    height: 100px; 
    width: 300px;
}
   
.header_element {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: black;
    transition: all 0.4s linear;
}

a.header_element:hover {
    background: rgb(133, 133, 133);
    border-radius: 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: fit-content;
    margin: auto;
    position: relative;
    margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides > img {
    width: 100%;
    height: 600px;
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f1f1f1f1;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; 
  transition: all 0.4s linear;
}

.text:hover {
    background-color: #717171be;
    color: #f1f1f1f1;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.all_sections{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    /* grid-column: 2; */
}

.section{
    background-color: #81b3ff;
    /* display: ; */
    justify-content: center;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section:hover {
    background-color: #5c83bd ;
    transition: all 0.4s linear;
}

.no_image > p, h4 {
    font-size: 50px;
    font-style: italic;
    padding-top: 70px 0;
    margin-top: 70px 0;
    text-align: center;
}

.section > p, h4 {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    /* align-content: center; */
    padding: 10px;
}

.long > p, h4 {
    font-size: 30px;
}

.verse{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section_img {
    width: max-content;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    /* border-radius: 50%; */
}