body {
    margin: 0;
    background-color: rgb(182, 224, 250);

}

div#header {
    background-color: rgb(229, 240, 240);
    height: 130px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

img#logo { 
    height: 100px; 
    width: 300px;
}

.parrafo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #202020; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
    line-height: 35px;
}

.parrafo > img {
    height: 250px;
    width: 400px;
    border-radius: 5%;
    margin-top: 60px;
    margin-left: 20px;
} 